* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    font-family: 'Playfair Display', serif;
    background: linear-gradient(120deg,#0b1020 0%, #151737 40%, #1b2140 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 30px;
}

.logo-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.logo-title h1 {
    font-size: 44px;
    color: #fffbea;
    text-shadow: 3px 3px 0 rgba(0,0,0,0.25);
    font-weight: 700;
    line-height: 1.2;
}

.logo {
    width: 45px;
}

.subtitle {
    margin-top: 12px;
    margin-bottom: 30px;
    color: rgba(255,255,255,0.92);
    font-size: 18px;
    text-align: center;
}

label {
    display: block;
    text-align: left;
    font-weight: 600;
    color: #fffbea;
    margin-bottom: 6px;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
    margin-bottom: 18px;
    font-size: 14px; 
}

.btn-login {
    width: 60%;
    max-width: 650px;
    min-width: 300px;
    margin: 6px auto 0 auto;
    display: block;
    padding: 12px 16px;
    border-radius: 6px;
    border: none;
    background: #f5f5f5;
    color: #222;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.btn-login:hover {
    background: #e9e9e9;
}

.footer {
    margin-top: 14px;
    margin-bottom: 40px;
    text-align: center;
}

.footer a {
    font-size: 14px;
    color: #a7d1ff;
    text-decoration: underline;
}

.footer a:hover {
    text-decoration: underline;
}
.login-box {
    background: rgba(255, 255, 255, 0.08);
    padding: 40px 55px 40px 40px;
    border-radius: 16px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(10px);
    max-width: 550px;
    width: 90%;
}